.landing-page-bg {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(192, 187, 187, 0), rgb(43, 43, 43)), url('/images/frontend/booking/bg1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.landing-page-bg .content h1 {
    font-size: 65px;
    text-align: center;
    color: var(--light-color);
    text-transform: uppercase;
    font-family: var(--font-family-title2);
    font-weight: 700;
    letter-spacing: 2px;
}

.landing-page-bg .content {
    flex-direction: column;
    row-gap: 20px;
}

.landing-page-bg .content p{
    letter-spacing: 1.5px;
    font-weight: 300;
    font-size: 20px;
    padding-top: 10px;
    color: var(--light-color);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.line div {
    margin: 0 10px;
}

.line div:nth-child(1), .line div:nth-child(3) {
    height: 2px;
    width: 100px;
    background: var(--light-color);
    border-radius: 5px;
}
  
.line {
    display: flex;
    align-items: center;
}
  
.line div:nth-child(2) {
    width: 8px;
    height: 8px;
    background: var(--light-color);
    border-radius: 50%;
}

.booking-page {
    background-color: #eee;
}

.booking-container {
    width: 85%;
    max-width: 1000px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.booking-left-info {
    margin: 50px 0 50px 60px;
    position: relative;
    width: 42%;
    height: 500px;
    background: url('/images/frontend/booking/bg2.png');
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.booking-left-info::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(170, 206, 228, 0.78);
    filter: brightness(50%);
}

.booking-right-form {
    margin-top: 50px;
    margin-bottom: 40px;
    width: 100%;
    min-height: 410px;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    color: white;
    margin-left: -440px;
}

.booking-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.booking-content h2 {
    font-family: 'Playfair Display', serif;
    line-height: 50px;
    font-weight: 900;
    color: white;
    font-size: 42px;
    text-transform: capitalize;
    filter: brightness(100%);
    text-align: center;
    margin-top: -60px;
}

.booking-content p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: capitalize;
    padding-top: 40px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    filter: brightness(100%);
    color: #eee;
}

.booking-content p::after {
    content: '';
    position: absolute;
    line-height: 60px;
    width: 100px;
    height: 2px;
    left: 35%;
    top: 40%;
    background: #fff;
}

.booking-right-form .booking-form {
    color: black;
    z-index: 1;
    max-width: 900px;
}

.booking-form-content {
    margin-left: 460px;
}

.booking-input {
    display: grid;
    grid-template-columns: repeat(2, minmax(1px, 100%));
    row-gap: 25px;
    padding-top: 20px;
}

.booking-form-field input {
    font-family: 'Times New Roman', Times, serif;
    padding: 5px 10px;
    border: 2px solid rgb(179, 177, 177);
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    width: 90%;
    max-width: 90%;
}

.booking-form-field input[type="date"] {
    transition: none;
    background: url("/images/frontend/booking/calendar.png");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 96%;
}

.booking-form-field input[type="date"]:focus {
    border: 1px solid var(--black-color);
}

.booking-form-field input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

.booking-form-field p {
    padding-bottom: 10px;
}

.booking-form-field input:focus {
    background: #eee;
}

.select-room {
    margin-top: 40px;
    display: flex;
    align-items: center;
    width: 100%;
}

.select-room .room-list {
    margin-left: 25px;
    width: 61%;
    max-width: 61%;
    height: 30px;
    border: 2px solid rgb(179, 177, 177);
    border-radius: 5px;
    -webkit-transition: 0.2s all;
}

.show-room-price-amount {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    margin-right: 22px;
    font-size: 20px;
}

.booking-btn {
    margin-top: 30px;
    color: var(--light-color);
    background: rgb(65, 64, 64);
    width: 100%;
    padding: 10px 20px;
    border: transparent;
    font-size: 18px;
    border-radius: 100px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    text-transform: uppercase;
}

.booking-btn:hover {
    background: #000;
}

/* --- Qeustions --- */
.questions {
    position: relative;
}
  
.questions .heading h2 {
    margin-top: 45px;
}

.heading h1 {
    font-size: 100px;
    font-weight: 500;
    opacity: 0.3;
    font-family: var(--font-family-title2);
    position: absolute;
    top: 5px;
}

.heading h2 {
    margin: 40px 0;
    font-size: 48px;
    font-weight: 400;
    color: var(--black-color);
    opacity: 0.8;
    font-family: var(--font-family-title2);
}

.question-container {
    display: grid;
    row-gap: 90px;
    column-gap: 50px;
    margin: 50px 0;
    padding: 1.5rem 0;
    margin-left: 70px;
    margin-right: 70px;
    align-items: flex-start;
}

.question-group {
    display: grid;
    gap: 40px;
}

.question-item {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: .25rem;
}

.question-header {
    display: flex;
    align-items: center;
    column-gap: 30px;
    padding: 16px;
    cursor: pointer;
    color: var(--black-color);
}

.question-item-title {
    font-size: 16px;
    font-weight: bold;
}
  
.question-icon {
    font-size: 20px;
    color: hsl(152, 4%, 15%);
}

.question-description {
  font-size: 14px;
  padding: 0 2rem 1.25rem 6.2rem;
}

.question-content {
    overflow: hidden;
    height: 0;
}

.question-item, .question-header,
.question-item-title, .question-icon,
.question-description, .question-content {
    transition: .3s;
}

.section-title, .section-title-center{
    font-size: 1.25rem;
    margin-bottom: 2rem;
    line-height: 140%;
}

.section-title-center {
    text-align: center;
}

.questions-item:hover {
    box-shadow: 0 2px 8px hsla(152, 4%, 15%, .15);
}

.accordion-open .question-header,
.accordion-open .question-content {
    background-color: hsl(0, 0%, 11%);
}

.accordion-open .question-item-title,
.accordion-open .question-description,
.accordion-open .question-icon {
    color: #eee;
}

.accordion-open .question-icon {
    transform: rotate(45deg);
}