/* --- View Room --- */
.view-room-page-bg {
	width: 100%;
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(rgba(227, 218, 218, 0)25% , rgb(55, 55, 55)), url('/images/frontend/viewRoom/bg1.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
	
.view-room-bg-content {
	flex-direction: column;
	row-gap: 20px;
	border: 2px solid var(--light-color);
	padding: 20px 20px;
}
	
.view-room-page-bg .view-room-bg-content h1 {
	font-size: 24px;
	text-align: center;
	color:var(--light-color);
	text-transform: uppercase;
	font-family: var(--font-family-title2);
	font-weight: 700;
	letter-spacing: 2px;
}
	
.view-room-page-bg .view-room-bg-content p {
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1.5px;
	font-weight: 500;
	font-size: 24px;
	padding-top: 10px;
	color: var(--light-color);
	font-family: 'Montserrat', sans-serif;
	max-width: 700px;
	line-height: 30px;
}
	
.room-section {
	display: flex;
	justify-content: center;
	margin: 40px 40px 0;
}
	
.room-slider-container {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	width: 55%;
	height: 100vh;
	color: #000;
	padding: 50px;
}
	
.room-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	background-size: cover;
	background-position: center;
}
	
.room-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
	
.main-room-swiper {
	height: 70%;
	width: 100%;
}
	
.thumbnail-room-swiper {
	height: 20%;
	box-sizing: border-box;
	padding: 10px 0;
} 
	
.thumbnail-room-swiper .room-slide {
	width: 25%;
	height: 100%;
	opacity: 0.7;
}
	
.thumbnail-room-swiper .swiper-slide-thumb-active {
	opacity: 1;
}
	
.view-room-content {
	padding-top: 60px;
	color:var(--black-color);
	line-height: 35px;
	margin-right: 40px;
}
	
.view-room-content h1, .view-room-content p {
		font-family: var(--font-family-title2);
}
	
.view-room-content p {
		font-weight: 500;
}
	
.view-room-content .view-room-description {
	font-family: var(--font-family-title);
	padding-top: 35px;
	text-align: justify;
	color:rgb(98, 96, 96);
	font-weight: 400;
	font-size:16px;
}
	
.view-room-content .book-now-price {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 50px;
}
	
.view-room-content .book-now-price a {
	padding: 5px 20px;
	background:var(--black-color);
	color: var(--light-color);
	transition: 0.3s ease-in;
}
	
.view-room-content .book-now-price a:hover {
	color: rgb(138, 118, 6);
}
	
.view-room-content .book-now-price i {
	padding-left: 10px;
}
	
.view-room-content .book-now-price .room-price {
	font-size: 30px;
	font-weight: bold;
}
	
.amenities-info {
	text-align: center;
	color: var(--black-color);
	opacity: 0.8;
}
	
.amenities-info .amenities-title {
	text-align: center;
	font-family: var(--font-family-title2);
	font-size: 55px;
	position: relative;
}
	
.amenities-info .amenities-title::after {
	position: absolute;
	content: '';
	bottom: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 180px;
	height: 3px;
	background: var(--black-color);
}
	
.amenities-info .amenities-detail {
	padding-top: 30px;
	line-height: 40px;
	margin: 0 40px
}
	
.amenities-info .amenities-detail p {
	font-weight: bold;
}
	
.amenities-info .amenities-detail span { 
	font-weight: 400;
	padding-left: 10px;
}
	
.facilities {
	font-weight: bold!important;
}
	
.amenities-bedroom {
	margin-top: -20px;
}

.amenities-list {
	display: inline-block;
}
	
ul.amenities-list li {
	list-style-type: none; 
	font-size: 18px;
	padding-bottom: 20px;
}
	
ul.amenities-list li i {
	padding-right: 10px;
}